@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #1c2dc5;
  --main-light: #eeeeee;
  font-family: 'PT Serif', serif;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 30%;
    height: 60%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color:white;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 1%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 40px;


    border-bottom: 1px solid transparent;
    border-image:var(--primary-color);
    background:var(--primary-color);
}

#form_header {
    display: inline-block;
    font-size: 30px;
 
    font-weight: 900;
   
    letter-spacing: 1px;


    background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 50px;

    padding-left: 10px;
    margin-bottom: 20px;

    background:var(--main-light);
   
    font-weight: 500;
    color:black;
    font-size: 12px;

    border-bottom: 2px var(--primary-color);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  
}

.button_container {
    width: 100%;
    height: 20%;

   
    color:white;
    display: flex;
    float: left;

    margin-top: 8vh;
    margin-left: 4vw;
}

.button_container button {
    background-color: var(--primary-color);
    width: max-content;
     /* border-radius: 18px;  */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 2px 5px;
    cursor: pointer;
}
.button_container button:hover{
    transform: scale(1.2);
}
.signup{
    margin-left: 20px;
}
