



@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #1c2dc5;
  --main-light: #eeeeee;
  font-family: 'PT Serif', serif;
}

* {
  margin: 0;
  padding: 0;
}

.header{
    padding-left: 1rem;
    display: flex;
    background-color:var(--primary-color);
    color: white;
    height: 8vh ;
    justify-content: center;
    align-items: center;
}

.learnmore{
    background-color: var(--primary-color);
    color: white;
    padding: 0.6rem;
    justify-content: center;
    align-items: center;
   
}
.learnmore p{
    margin-left: 34vw;
}
.main{
    display:flex;
}
.text{
    padding-left: 7rem;
    padding-top: 8rem;
}
.text h1{
    color: var(--primary-color);
    font-size:55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text p{
   
   
    font-size: 40px;
}
.links{
    display: inline-block;
    padding-top: 3rem;
}
.links h3{
    padding: 2.6rem;
}
.join{
    padding-top: 1 rem;
}
.join input{
    height: 30px;
}
.button{
    background-color: var(--primary-color);
    box-shadow: 0 0 50px -20px #000;
    transition: transform .2s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.5);

}
.images{

 
    margin-top: 10vh;
    margin-left:10vw;
}